body {
    background-color: #eef6fa;
}

.login-container {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
}

.login-card h2 {
    color: #1168be;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

footer {
    color: #555;
}

@media (max-width: 500px) {
    .login-container {
        padding: 20px;
    }

    .login-card {
        width: 100%;
    }
}
