
body {
    background-color: #f4f8fb;
}

.navbar {
    transition: 0.3s;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    transform: translateY(-2px);
}

.hero {
    background-color: white;
}

.hero-box {
    padding: 50px 20px;
    background-color: #eef6fa;
    border-radius: 15px;
    transition: 0.3s;
}

.hero-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px #0002;
}

.hero-box h1 {
    color: #1168be;
    font-weight: bold;
}

.status {
    margin: 20px 0;
    font-weight: bold;
}

.status span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #198754;
    border-radius: 50%;
    margin-right: 8px;
}

.section-card {
    border: none;
    overflow: hidden;
    transition: 0.3s;
}

.section-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px #0002;
}

.image-box {
    height: 180px;
    background-color: #e9f2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body h4 {
    color: #1168be;
}

.status-badge {
    font-size: 13px;
    padding: 6px 10px;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

footer {
    color: #555;
}

@media (max-width: 768px) {
    .hero-box {
        text-align: center;
    }

    .image-box {
        height: 200px;
    }
}
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .navbar {
    background-color: #1a1a1a !important;
}

.dark-mode .card,
.dark-mode .status-card,
.dark-mode .info-card,
.dark-mode .detection-card,
.dark-mode .summary-card,
.dark-mode .data-card,
.dark-mode .control-card,
.dark-mode .movement-card,
.dark-mode .parking-card,
.dark-mode .report-sheet,
.dark-mode .detail-card,
.dark-mode .sensor-card,
.dark-mode .usage-box {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
    color: #4da3ff;
}

.dark-mode p,
.dark-mode span {
    color: #ccc;
}

.dark-mode .hero,
.dark-mode .robot-header,
.dark-mode .garage-header,
.dark-mode .storage-header,
.dark-mode .sortion-header,
.dark-mode .report-header,
.dark-mode .guide-header {
    background-color: #181818;
}

.dark-mode .image-box,
.dark-mode .camera-box,
.dark-mode .sensor-info,
.dark-mode .step {
    background-color: #252525;
}

.dark-mode .data-row {
    border-bottom-color: #333;
}
